<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>LatinoNews</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"></script>
   
    
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light" >
  <div class="container-fluid" style = "background-color: rgb(182, 180, 180)">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">USA Latino</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse" >
      <ul class="nav navbar-nav">
        <li   class="active" style="padding:10px"><a href="/" style="color:rgb(60, 84, 67)">Home <span class="sr-only">(current)</span></a></li>
        <li  style="padding:10px"><a href="/saved" style="color:rgb(60, 84, 67)">Saved Articles</a></li>
      </ul>
    </div>

    <div class="navbar-form navbar-left">
    <button type="submit" class="btn btn-default" style="background-color:rgb(60, 84, 67)" ><a href="/articles" style="color:rgb(233, 230, 230)">Scrape New Articles</a></button>
    <button type="submit" class="btn btn-default" style="background-color:rgb(60, 84, 67)">Clear Articles</button>
    </div>   
  </div><!-- /.container-fluid -->
</nav>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Latest News</h1>
    <p class="lead">Las más recientes e últimas noticias Nacionales.</p>
  </div>
</div>

    {{{body}}}
    <footer class="page-footer">
        <p class="text-center">scrapping El Tiempo Latino </p>
    </footer>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.js"></script>
</body>
</html>