<section class="section">
    <div class="container">
        <h2 class="title">Popular Articles</h2>
        <div id="scrapped-results"></div>
    </div>
</section>



<script src="/assets/js/index.js"></script>